/* table of content - start
==================================================================================================== */
/* ==================================================
Project Name 	:  Appal
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  23 February 2019
Author 			:  Marvel Theme
Developer:		:  Rakibul Islam Dewan
================================================== */
/* table of content - end
==================================================================================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import "variable";
@import "reset";
@import "header";
@import "footer";
@import "_client.scss";
@import "_sidebar.scss";
@import "_breadcrumb.scss";
@import "_home.scss";
@import "_app.scss";
@import "_about.scss";
@import "_blog.scss";
@import "_team.scss";
@import "_pricing.scss";
@import "_testimonial.scss";
@import "_contact.scss";
@import "_others.scss";
@import "_responsive.scss";